* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  padding: 16px 0;
  background-color: #182c61;
  color: #ecf0f1;
}

header nav li {
  display: inline;
  margin: 16px;
  font-size: 18px;
}

header nav li a {
  color: #ecf0f1;
  text-decoration: none;
}

#title-about,
.container-nav {
  font-family: "Bungee", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}

#title-nav {
  font-weight: normal;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.brands-list img {
  height: 24px;
}

.brands-list li {
  display: inline;
  margin-right: 8px;
}

.container-about {
  align-items: flex-start;
}

#about {
  padding: 24px 0;
  color: #182c61;
}
#title-about {
  margin-bottom: 18px;
}

.text-about {
  margin-bottom: 8px;
}

.store-front {
  margin-right: 32px;
}
